torch
torchvision
transformers>=4.45.0
accelerate
timm
opencv-contrib-python
scipy
shapely
trimesh[easy]
fastapi[standard]
python-multipart
Pillow
pydantic-settings
google-genai
openai
pillow-heif
bambulabs_api
